
backend/icanteen/WebContent/META-INF/MANIFEST.MF
backend/icanteen/.settings/org.eclipse.wst.jsdt.ui.superType.name
backend/icanteen/.settings/org.eclipse.wst.jsdt.ui.superType.container
backend/icanteen/.settings/org.eclipse.wst.common.project.facet.core.xml
backend/icanteen/.settings/org.eclipse.wst.common.component
backend/icanteen/.settings/org.eclipse.jdt.core.prefs
backend/icanteen/.settings/.jsdtscope
backend/icanteen/.project
backend/icanteen/.classpath
